{% extends 'news-detail.html' %} {% load static %} {% block body %}

<section id="google-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.010324678134!2d36.821946814331146!3d-1.292065499057153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f182f3319fb0d%3A0x9e752d052ff78d14!2sNairobi%2C%20Kenya!5e0!3m2!1sen!2sin!4v1653136076371!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
 width="100%"
    height="450"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
  ></iframe>
</section>

<!-- FOOTER -->
<footer data-stellar-background-ratio="5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="footer-thumb">
          <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
          <p></p>

          <div class="contact-info">
            <p><i class="fa fa-phone"></i> +254 702 228 799</p>
            <p>
              <i class="fa fa-envelope-o"></i> <a href="pmkaranja153@gmail.com">pmkaranja153@gmail.com</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="footer-thumb">
          <div class="opening-hours">
            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Social Platform</h4>
          </div>

          <ul class="social-icon">
            <li>
              <a href="https://github.com/flexmedds/" class="fa fa-github"></a>
            </li>
            <li><a href="https://twitter.com/karanjah153?t=D0gtSWqhK7RLfiB9WGXtQA&s=09" class="fa fa-twitter"></a></li>
            <li><a href="https://www.linkedin.com/in/peter-karanja-395663178" class="fa fa-linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
